@font-face {
  font-family: Romul;
  src: url(../fonts/romul.ttf);
}


/* Вспомогательные стили + хаки */

small {
  font-size: 0.5714rem;
  line-height: normal;
  color: #4c0101;
}

.ta-left {
  text-align: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.captcha {
  width: 80px;
  background-color: #50625e;
}


/* Общие стили */

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: Romul, serif;
  text-transform: uppercase;
  /*  background: url(../img/background_elf.jpg) no-repeat top center fixed;*/
  /*  background-size: 1920px;*/
  background-color: #faefdd;
}

.container {
  position: relative;
  z-index: 100;
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.main-title {
  font-size: 1.714rem;
  line-height: 2rem;
  text-align: right;
  margin-bottom: 1.571rem;
  color: #929292;
}

.btn {
  padding: 0 0.5714rem;
  font-family: Romul, serif;
  font-size: 0.8571rem;
  line-height: 1.571rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  background-image: linear-gradient(to bottom, #a9c400 50%, #96b000 50%);
  border: 0;
  outline: 0;
  cursor: pointer;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.form {
  font-size: 0.8571rem;
  color: #1e0402;
  text-align: center;
}

.form table {
  margin-right: -7px;
  margin-bottom: 0.9rem;
  text-align: right;
  border-collapse: separate;
  border-spacing: 7px 5px;
}

.form td {
  vertical-align: middle;
}

.form-input {
  width: 7.5rem;
  height: 1.429rem;
  padding: 0 0.4rem;
  border: 1px solid #c6b19a;
}

.form-input:focus {
  border-color: #6b2524;
  outline: 0;
}


/*Лого*/

.logo {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}


/* Главная навигация */

.main-nav {
  position: absolute;
  left: 50%;
  top: 270px;
  z-index: 100;
  transform: translateX(-50%);
  width: 223px;
}

.main-nav__item {
  font-size: 1rem;
  line-height: 1.571rem;
  text-align: center;
}

.main-nav__link {
  color: #505050;
}

.main-nav__link:hover {
  line-height: 0;
  font-size: 1.143rem;
}

.main-nav__link:active {
  color: #000;
}


/* Новости с форума */

.forum-news {
  position: absolute;
  text-align: right;
  top: 470px;
  left: 50px;
  max-width: 350px;
}

.forum-news__list {
  display: flex;
  flex-direction: column-reverse;
  font-size: 1rem;
  line-height: 2rem;
}

.forum-news__item {
  transition: opacity 0.2s;
}

.forum-news__item:not(:last-child) {
  opacity: 0.5;
}

.forum-news__link {
  display: block;
  color: #6b2524;
  border-bottom: 1px solid #f3d1b7;
  text-indent: 10px
}

.forum-news__link::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.9286rem;
  width: 17px;
  height: 18px;
  background: url(../img/icon-scroll.png) center no-repeat;
}

.forum-news__item:hover {
  opacity: 1;
}

.forum-news__item:hover ~ .forum-news__item:last-child {
  opacity: 0.5;
}


/* Новости проекта */

.project-news {
  position: absolute;
  top: 470px;
  right: 50px;
}

.project-news__list {
  display: flex;
  flex-direction: column-reverse;
  text-align: right;
}

.project-news__item {
  transition: opacity 0.2s;
}

.project-news__item:not(:last-child) {
  opacity: 0.5;
}

.project-news__link {
  display: block;
  color: #5c0101;
  border-bottom: 1px solid #f3d1b7;
}

.news-post {
  position: relative;
  text-align: left;
}

.news-post__img--outline {
  position: absolute;
  width: 62px;
  height: 62px;
  top: 6px;
  background-image: linear-gradient(to bottom, #ffbe00, #d96400);
  border-radius: 18%;
}

.news-post__img {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 60px;
  height: 60px;
  margin: 7px 0 7px 1px;
  margin-right: 0.7857rem;
  border-radius: 18%;
}

.news-post__text-wrap {
  display: inline-block;
  vertical-align: top;
  padding: 18px 0 8px 0;
}

.news-post__title {
  line-height: normal;
  color: #4f0505;
}

.news-post__info {
  font-size: 0.7143rem;
  line-height: normal;
  color: #000;
}

.news-post__author {
  color: #e71717;
}

.project-news__item:hover {
  opacity: 1;
}

.project-news__item:hover ~ .project-news__item:last-child {
  opacity: 0.5;
}


/* Статус сервера и онлайн */

.server-status {
  position: absolute;
  top: 200px;
  right: 165px;
}

.server-status__image {
  display: inline-block;
  vertical-align: top;
  -webkit-filter: saturate(1.5);
  filter: saturate(1.5);
}

.server-status__info-wrap {
  display: inline-block;
  vertical-align: top;
  padding-top: 25px;
}

.server-status__online {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 2.571rem;
  line-height: normal;
  text-align: center;
  color: #400101;
  background: -webkit-linear-gradient(green, #400101);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid #b99d80;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.server-status__title {
  font-size: 0.8571rem;
  line-height: normal;
  color: #6f6f6f;
}


/* Кабинет */

.login {
  display: none;
  position: absolute;
  top: 470px;
  right: 50px;
}


/* Регистрация */

.registration {
  display: none;
  position: absolute;
  top: 470px;
  right: 50px;
  width: 335px;
}


/* Скачать */

.download {
  display: none;
  position: absolute;
  top: 470px;
  right: 50px;
  text-align: center;
}

.download__text {
  margin-bottom: 1.5rem;
  font-size: 0.8571rem;
  line-height: 1.571rem;
  text-align: right;
  color: #1e0402;
}

.download__links-wrap {
  display: inline-block;
}

.download__link {
  position: relative;
  display: block;
  min-width: 190px;
  margin-bottom: 10px;
  padding-right: 60px;
  line-height: 46px;
}

.download__link::after {
  content: "";
  position: absolute;
  right: 0;
  width: 48px;
  height: 46px;
  background: url(../img/icon-l2.png) no-repeat center;
}

.download__link--patch::after {
  background-image: url(../img/icon-project.png);
}


/* Свиток с контентом */

.content {
  position: absolute;
  top: 277px;
  height: 1732px;
  background: url(../img/scroll.png) center/100% no-repeat;
}

.content__inner {
  position: relative;
  width: 70%;
  margin: 0 auto;
  padding: 465px 0;
}

.main-title--content {
  position: absolute;
  top: 345px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: bold;
  color: #444;
}


/* Новости проекта (внутренняя страница) */

.news-post__title--content {
  font-size: 1.3rem;
  font-weight: bold;
}

.news-post__img-content {
  float: left;
  width: 350px;
  height: 150px;
  margin: 0 10px 10px 0;
}

.project-news__item:nth-child(2n) .news-post__img-content {
  float: right;
  margin: 0 0 10px 10px;
}

.news-post__text {
  margin-top: 0.9rem;
  line-height: normal
}

.project-news__item--content:not(:first-child) {
  margin-bottom: 2rem;
}

.project-news__item--content:nth-child(2n) .news-post--content {
  text-align: right;
}


/* Главное меню  (внутренняя страница)  */

.main-nav--inner-page {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  box-shadow: 0 0 15px 20px rgba(255, 255, 255, 0.4);
}


/* Новости форума (внутренняя страница)  */

.forum-news--inner-page {
  z-index: 100;
  top: 214px;
  height: 250px;
  overflow: hidden;
}